<footer class="footer">
    <div class="container" id="footer_container">
        <div class="row">
            <div class="col-md-12">
                <a href="/contact">Contact Us/Support</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/">About Us</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pull-right">
                <div class="pull-right">
                    <div class="footerSocialIcons">
                        <ul class="socialMediaIcons">
                            <li>
                                <a href="https://www.facebook.com/groups/1715984078639523/" target="_blank"><img src="/Content/images/facebookLogo.png" alt="Facebook" width="30" height="30"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ryan-jameson-25409011b?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="/Content/images/linkedinLogo.png" alt="Linked in" width="30" height="30"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 pull-right">
                <div class="pull-right">
                    <p> © Copywrite 2016 - NorthStar Tournaments</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>