<footer class="footer">
    <div class="container" id="footer_container">
        <div class="row">
            <div class="col-md-12">
                <a href="/contact">Contact Us/Support</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/">About Us</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pull-right">
                <div class="pull-right">
                    <p> © Copywrite 2016 - NorthStar Tournaments</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>