<% include ../partials/header.ejs %>
    <% include ../partials/navbar.ejs %>
        <main class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1>Create a Tournament</h1>
                    <form method="post">

                        <!-- Tournament Name -->
                        <fieldset class="form-group">
                            <label for="name">Tournament Name: *</label>
                            <input type="text" name="name" class="form-control" required />
                        </fieldset>

                        <!-- Tournament Description -->
                        <fieldset class="form-group">
                            <label for="description">Tournament Description: *</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </fieldset>

                        <!-- Size Radio Button Choice -->
                        <div class="row">
                            <div class="col-md-offset-4">
                                <fieldset class="form-group">
                                    <label for="size">Tournament Size:</label>
                                    <label class="radio-inline">
                                <input type="radio" name="size" id="size8" value="8" onClick="myFunction(8)" checked=""> 8
                            </label>
                                    <label class="radio-inline">
                                <input type="radio" name="size" id="size16" value="16" onClick="myFunction(16)" checked="checked"> 16
                            </label>
                                </fieldset>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-md-offset-2">
                                <!-- Tournament Team 8 List -->
                                <div class="form-group">
                                    <input list="teams" name="team1" placeholder="1st Team" required>
                                    <datalist id="teams">
                                        <% for (var i = 0; i < teams.length; i++) { %>
                                        <option value="<%= teams[i].teamname %>">
                                        <% } %>
                                    </datalist>

                                    <input list="teams" name="team2" placeholder="2nd Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team3" placeholder="3rd Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team4" placeholder="4th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team5" placeholder="5th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team6" placeholder="6th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group">
                                    <input list="teams" name="team7" placeholder="7th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team8" placeholder="8th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <!-- Tournament Team 16 List -->
                                <div class="form-group" id="first">
                                    <input list="teams" name="team9" placeholder="9th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team10" placeholder="10th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group" id="second">
                                    <input list="teams" name="team11" placeholder="11th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team12" placeholder="12th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group" id="third">
                                    <input list="teams" name="team13" placeholder="13th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team14" placeholder="14th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>

                                <div class="form-group" id="fourth">
                                    <input list="teams" name="team15" placeholder="15th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>

                                    <input list="teams" name="team16" placeholder="16th Team" required>
                                    <datalist id="teams">
                                <option value="teams">
                            </datalist>
                                </div>
                            </div>
                        </div>

                        <fieldset class="form-group text-right">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="/tournaments">
                                <input type="button" class="btn btn-warning" value="Cancel" />
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>

        </main>
        
        <script>
        function myFunction(val) {
            //alert("The input value has changed. The new value is: " + val);
            var size = val; 
            if(size == 8)
                document.getElementById("first").style.visibility = "hidden";
                document.getElementById("second").style.visibility = "hidden";
                document.getElementById("third").style.visibility = "hidden";
                document.getElementById("fourth").style.visibility = "hidden";
                
            else
                document.getElementById("first").style.visibility = "visible";
                document.getElementById("second").style.visibility = "visible";
                document.getElementById("third").style.visibility = "visible";
                document.getElementById("fourth").style.visibility = "visible";
                
        }
</script>
        
<% include ../partials/bootstrap.ejs %>
<% include ../partials/footer.ejs %>