<% include ../partials/header.ejs %>
    <% include ../partials/navbar.ejs %>
        <main class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-offset-5">
                            <!-- Dynamic title (name) pulled from DB using tournament unique ID -->
                            <h1>Tournament Title</h1>
                        </div>
                    </div>
                    <form method="post">

                        <div class="row">
                            <div class="col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-8 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <!-- <div id="vertical_line" class="col-md-offset-1 col-md-1"></div> -->
                            
                            <div class="col-md-offset-2 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-8 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <br>
                        <br>
                        <br>
                        <br>

                        <div class="row">
                            <div class="col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-8 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-offset-2 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-8 col-md-2">
                                <div id="bracket">
                                    <div id="top">
                                        <h2>test</h2>
                                    </div>
                                    <div id="middle">
                                        <h4>VS</h4>
                                    </div>
                                    <div id="bottom">
                                        <h2>test</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </main>
        <% include ../partials/bootstrap.ejs %>
            <% include ../partials/footer.ejs %>